#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  color: black;
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}