$deepGreen: #00474B;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  font-size: medium;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
  display: flex;
  flex-direction: row;
  color: black;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  margin: 10px 0;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.input-card {
  margin: 0 25px 0 15px;
  width: 300px;
}

.result-card {
  margin: 0 15px 0 25px;
  background-color: $deepGreen;
  width: 300px;
  border-radius: 15px;
}